/* Style sheet for WS2812B IC2 Slave user manual */

table[border="1"] {border-collapse:collapse;/*border-spacing:0.5em;*/}
img[src="images/WS2812BI2CSlaveSystem.svg"] {width:550px}
img[src="images/AlternativeSupply.svg"] {width:600px}
img[src="images/WS2812B-I2C-Slave_schemMod.svg"] {width:500px}
img[src="images/WS2812B-I2C-Slave_pcbMod2.svg"] {width:300px}
.literallayout {font-family:monospace;}

